@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(20, 20, 20);
    --text-color: rgb(230, 230, 230);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@layer base {
  :root {
    --background: 205.71 53.85% 97.45%;
    --foreground: 208.24 89.47% 3.73%;

    --primary: 209.09 88.24% 36.67%;
    --primary-foreground: 0 0% 100%;

    --card: 205.71 53.85% 97.45%;
    --card-foreground: 208.24 89.47% 3.73%;

    --popover: 0 0% 100%;
    --popover-foreground: 208.24 89.47% 3.73%;

    --secondary: 208.8 51.02% 90.39%;
    --secondary-foreground: 205.71 100% 1.37%;

    --muted: 210 50% 93.73%;
    --muted-foreground: 0 0% 40%;

    --accent: 210 50% 93.73%;
    --accent-foreground: 209.09 88.24% 36.67%;

    --destructive: 4 61% 49%;
    --destructive-foreground: 9 100% 97%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 209.09 88.24% 36.67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 205.71 100% 1.37%;
    --foreground: 208.8 51.02% 90.39%;

    --primary: 209.09 88.24% 36.67%;
    --primary-foreground: 0 0% 100%;

    --card: 205.71 100% 1.37%;
    --card-foreground: 208.8 51.02% 90.39%;

    --popover: 205.71 100% 1.37%;
    --popover-foreground: 208.8 51.02% 90.39%;

    --secondary: 208.97 87.88% 12.94%;
    --secondary-foreground: 0 0% 100%;

    --muted: 205.71 12.28% 11.18%;
    --muted-foreground: 200 1.2% 50.78%;

    --accent: 208.97 87.88% 12.94%;
    --accent-foreground: 208.8 51.02% 90.39%;

    --destructive: 4 61% 49%;
    --destructive-foreground: 9 100% 97%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 209.09 88.24% 36.67%;

    --radius: 0.5rem;
  }
}

@layer components {
  .debug {
    @apply border border-red-500;
  }

  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .circle {
    @apply rounded-full shrink-0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    min-width: 360px;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl font-bold text-denim-700 dark:text-denim-50 md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold text-denim-700 dark:text-denim-50 md:text-4xl;
  }

  h3 {
    @apply text-xl font-bold text-denim-700 dark:text-denim-50 md:text-3xl;
  }

  h4 {
    @apply text-lg font-bold text-denim-700 dark:text-denim-50 md:text-2xl;
  }

  h5 {
    @apply text-base font-medium text-denim-700 dark:text-denim-50 md:text-xl;
  }

  h6 {
    @apply text-sm font-medium text-denim-700 dark:text-denim-50 md:text-lg;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .prose a {
    @apply animated-underline pb-1;
  }

  .prose a:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }

  .prose code::before {
    content: ''
  }

  .prose code::after {
    content: ''
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-underline {
    @apply no-underline bg-no-repeat border-b-0;

    background-size: 0 2px;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in-out;
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 100% 2px;
    background-position: 0 100%;
  }

  .underline-light {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#0a549a, #0a549a)
  }

  .underline-dark {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#7dbcf7, #7dbcf7)
  }
}